.music_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
}

.music_inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 940px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  gap: 25px;
}

.music_section {
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  margin-top: 3%;
}

.music_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 940px;
  gap: 15px;
}

.main_header {
  font-style: italic;
  font-family: serif;
  font-size: 2rem;
  margin-top: 3%;
}

.main_sub {
  font-size: 1.2rem;
  margin-top: 5px;
  color: rgb(181, 181, 181);
}

.music_subheader {
  font-size: 1.3rem;
  margin-bottom: 25px;
}
