.nav_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: inherit;
  width: 100%;
  padding-left: 2rem;
}

.nav_inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  gap: 25px;
}

.nav_link {
  display: flex;
  gap: 25px;
}

.nav_link_text {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
}

.nav_link_active {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(255, 201, 211);
}

.nav_link_icon {
  color: inherit;
  font-size: 1.5rem;
  stroke-width: 5px;
}

.nav_link:hover {
  scale: 1.04;
}

.nav_link_active:hover {
  filter: saturate(170%);
}

@media screen and (max-width: 880px) {
  .hide {
    display: none;
  }

  .nav_link_icon {
    font-size: 1.75rem;
  }

  .nav_link:hover {
    scale: 1.1;
  }
}
