.card_outer {
  display: flex;
  flex-direction: column;
}

.project_section {
  display: flex;
  flex-direction: column;
}

.project_title {
  font-size: 1.5rem;
}

.project_techstack {
  font-size: 14px;
  color: rgb(181, 181, 181);
  margin-bottom: 10px;
  margin-top: 5px;
}

.project_list {
  list-style-type: circle;
}

.project_bullet {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
